@import url("/static/css/minecraft-font.css");

* {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/img/grass.jpg");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.mc-font {
    font-family: "Minecraft", Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

.mono-font {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

#content {
    display: inline-flex;
    padding: 5px 10px;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.4);
}

#header {
    padding: .5rem;
}

.sel {
    user-select: all;
}

.no-sel {
    user-select: none;
}